* {
	margin: 0;
	padding: 0;
}
body {
    background-color: #F8EDE3;
}
/* Navigation Bar */
.navbar {
    background: none; 
}
.navbar-brand {
    font-size: 3rem;
    font-weight: bold;
    color: #F8EDE3;
}
.navbar-toggler {
    border: none;
    color: #7D6E83;
}
.navbar-toggler-icon {
    width: 40px;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.nav-link {
    font-size: 1.4rem;
    font-weight: bold;
    color: #7D6E83;
}
.nav-item:hover {
    cursor: pointer;
    transform: translateY(-0.5rem);
    transition: transform 200ms;
}
/* Hide Offcanvas */
.hide {
    display: none;
}
/* Media rule for offcanvas for mobile devices */
@media screen and (max-width: 800px) {
.offcanvas {
    background: linear-gradient(to right, #7D6E83, #D0B8A8);
    color: #F8EDE3;
}
.nav-link {
    color: #F8EDE3;
}
.nav-line {
    border: 1px solid #F8EDE3;
}
}
/* Animated area - code taken from https://www.divinectorweb.com/2020/10/animated-background-html-css.html and edited by me */
.animation-area {
	background: linear-gradient(to left, #D0B8A8, #7D6E83);
	width: 100%;
	min-height: 100vh;
    padding-bottom: 10rem;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1500px;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
        -webkit-transform: translateY(0) rotate(0deg);
        -ms-transform: translateY(0) rotate(0deg);
        -moz-transform: translateY(0) rotate(0deg);
        -o-transition: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-1500px) rotate(360deg);
        -webkit-transform: translateY(-1500px) rotate(360deg);
        -ms-transform: translateY(-1500px) rotate(360deg);
        -moz-transform: translateY(-1500px) rotate(360deg);
        -o-transition: translateY(-1500px) rotate(360deg);
		opacity: 0;
	}
}
/* Section ABOUT */
.about {
    padding-top: 15rem;
    text-align: center;
    color: #7D6E83;
}
.section {
    background-color: #F8EDE3;
    box-shadow: 0 0.4rem 1.4rem #F8EDE3;
}
.about p {
    font-size: 1.5rem;
}
/* How to... Section */
.how-to {
    padding-top: 10rem;
    text-align: center;
    color: #7D6E83;
}
.how-to p {
    font-size: 1.5rem;
}
/* Play Section */
.play {
    padding-top: 10rem;
    text-align: center;
    color: #7D6E83;
}
.text {
    font-size: 1.5rem;
}
.button {
    background: #C0E218;
    color: #251B37;
    width: 150px;
    border: 1px solid #251B37;
    border-radius: 5px;
    font-size: 1.5rem;
}
.button:hover {
    background-color: #C0E218;
    transform: scale(1.5);
    transition: transform 200ms;
}
/* Start Quiz window. */
.window {
    display: none;
    height: 250px;
    border: 1px solid #7D6E83;
    border-radius: 10px;
}
.window-header {
    background-color: #7D6E83;
    color: #F8EDE3;
    border-radius: 9px 9px 0px 0px;
}
.window-body {
    font-size: 1.1rem;
    font-weight: bold;
}
.user-button {
    background-color: #C0E218;
    padding: 5px;
    font-weight: 500;
    border: 1px solid #251B37;
    border-radius: 5px;
}
.user-input {
    padding: 5px;
    border: 1px solid #251B37;
    border-radius: 5px;
}
/* .option-btn {
    width: 100px;
    background-color: #C0E218;
    color: #251B37;
    border: 1px solid #251B37;
    border-radius: 5px;
}
.no {
    background-color: #FF005C;
} */
/* Quiz App */
.quiz {
    display: none;
}
.quiz .username {
    font-size: 2rem;
    font-weight: bold;
}
.intro {
    display: flex;
    justify-content: space-between;
}
.prefix {
    text-align: center;
    font-size: 2rem;
}
.progressBar {
    width: 100%;
    height: 2.5rem;
    border: 0.2rem solid #7D6E83;
    margin-top: 1rem;
    border-radius: 10px;
    overflow: hidden;
}
.progressBarFull {
    height: 100%;
    background: #C0E218; 
    width: 0%;
}
.time {
    font-size: 2rem;
}
.counter, .score {
    text-align: center;
}
.question-holder {
    height: 10rem;
    display: flex;
    text-align: center;
    align-items: center;
}
.mute {
    background-color: #D7C0AE;
    color: #7D6E83;
    font-weight: bold;
    border: 1px solid #251B37;
    border-radius: 5px;
    padding: 10px;
}
.sound {
    color: #F8EDE3;
}
.answer-container {
    background-color: #F8EDE3;
    display: flex;
    flex-direction: initial;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
.answer-prefix {
    background-color: #7D6E83;
    color: white;
    padding: 1.5rem 2.5rem;
    margin: 0;
}
.answer-text {
    text-align: left; 
    padding: 1.5rem;
    width: 100%;
    margin: 0;
}
.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #7D6E8360;
    transform: translateY(-0.1rem);
    transition: transform 200ms;
}
.correct {
    background-color: #C0E218;
}
.incorrect {
    background-color: #FF005C;
}
/* Results */
.results {
    display: none;
}
.header {
    background-color: #7D6E83;
    color: #F8EDE3;
    border-radius: 5px 5px 0 0;
}
.first {
    padding-top: 2rem;
}
.result {
    color: #7D6E83;
    font-size: 2rem;
    font-weight: bold;
}
.result-score {
    color: #967E76;
}
.result-time {
    color: #967E76;
}
.restart {
    height: 50px;
    width: 180px;
    font-size: 1.5rem;
    background-color: #C0E218;
    color: #251B37;
    margin-bottom: 1rem;
    border: 1px solid #7D6E83;
    border-radius: 5px;
}
/* Footer Section */
.footer {
    /* margin-top: 10rem; */
    background-color: #F8EDE3;
    color: #7D6E83;
}
.links-text {
    font-size: 1.5rem;
    padding-top: 1rem;
    font-weight: bold;
    color: #7D6E83;
}
.footer a {
    font-size: 1.5rem;
    text-decoration: none;
}
.footer .fa-brands {
    padding: 1rem;
    color: #7D6E83;
}
.footer .fa {
    color: #7D6E83;
    padding: 1rem;
}
